<!DOCTYPE HTML>
<html lang="{{ lang }}" ng-app="multilingual">
<head>
  <title>Multilingual AngularJS</title>
  <meta charset="utf-8">
  <link ng-href="dist/css/{{ default_direction }}-app.css" rel="stylesheet">
</head>

<body>
  <h1 translate="HELLO"></h1>
  <h2 translate="WELCOME_MESSAGE"></h2>

  <div class="text-{{ default_float }}"></div>

  <div ng-controller="LanguageSwitchController">
    <button ng-show="lang == 'en'" ng-click="changeLanguage('ar')" translate="BUTTON_LANG_AR"></button>
    <button ng-show="lang == 'ar'" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
  </div>

  <script src="dist/js/app.min.js"></script>
</body>
</html>
